
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
      }
      #map {
        height: 150%;
        width: 40%;
        float: left;
      }
      #informations{
        position: relative;
        width: 60%;
        float: right;
      }
      #output {
        font-size: 15px;
        margin-top: 40px;
        text-transform: uppercase;
        width: 470px;
        margin-left: 20px;
      height: 180px;
      color: white;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
      }
      #content{
        width: 250px;
        height: 250px;
      }

.bg-green{
    background-color: #00a65a !important;
}

.bg-green,.bg-green-active {
    color: #fff !important;
}
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 400%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-text {
    text-transform: uppercase;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.progress, .progress>.progress-bar, .progress .progress-bar, .progress>.progress-bar .progress-bar {
    border-radius: 1px;
}
.progress, .progress>.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress {   
    overflow: hidden;    
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #fbff00;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.imgUpload{
    width: 50%;
}

.fileUploader{
    margin-bottom: 30px;
}

.feedContainer{
    margin-bottom: 260px;
}



.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.modal-ku {
  width: 1000px;
  max-height: 500px !important;
  margin: auto;
}

.modal-header{
  padding-right: 300px !important;
}

#leftModal{
  position: relative;
  width: 50%;
  float: left;
}

#rightModal{
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 50px;
}

#send{
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.unstyled {
  margin: 0;
  list-style: none;
}
.unstyled a, .unstyled #test {
  width: 150px;
  text-decoration: none;
  padding: .5em 1em;
  background-color: #555;
  border-bottom: 2px solid #333;
  display: block;
  margin-bottom: .5em;
}
.unstyled a:hover, .unstyled #test:hover {
  background-color: #777;
  border-color: #777;
}

.cf, .alert {
  *zoom: 1;
}
.cf:before, .alert:before, .cf:after, .alert:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after, .alert:after {
  clear: both;
}

#alerts {
  width: 400px;
  top: 12px;
  right: 50px;
  position: fixed;
  z-index: 9999;
  list-style: none;
}

.alert {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  position: relative;
  border-left: 4px solid;
  right: -50px;
  opacity: 0;
  line-height: 1;
  padding: 0;
  transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
  display: table;
}

.alert:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.open {
  right: 0;
  opacity: 1;
  line-height: 2;
  padding: 10px 15px;
  transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
}

.alert-title {
  font-weight: bold;
}

.alert-block {
  width: 80%;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  text-align: left;
}
.alert-block em, .alert-block small {
  font-size: .75em;
  opacity: .75;
}

.alert i {
  font-size: 2em;
  width: 1.5em;
  max-height: 48px;
  top: 50%;
  margin-top: -12px;
  display: table-cell;
  vertical-align: middle;
}

.alert-success {
  color: #fff;
  border-color: #539753;
  background-color: #8fbf2f;
}

.alert-error {
  color: #fff;
  border-color: #7f0709;
  background-color: #bf074b;
}

.alert-info {
  color: #fff;
  border-color: #076d91;
  background-color: #3397db;
}

.alert-warning {
  color: #fff;
  border-color: #dd6137;
  background-color: #f7931d;
}
 #changePref{
  position: relative;
  widows: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 50px;
 }
#directions{
  top: 1050px;
  left: 0;
  right: 0;
  position: absolute;
  width:70%;
  margin: 0 auto;
}

.warnbox-content{
  display: none !important;
}
